@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/forum-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/forum-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
box-sizing: border-box;
}
*, *::before, *::after{
box-sizing: inherit;
}

body{
  font-family: 'Forum';
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  color: #000000;
}

h1{
position: absolute;
width: 440px;
height: 80px;
left: 223px;
top: 146px;

font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 57px;
line-height: 80px;
/* identical to box height, or 140% */

letter-spacing: -0.04em;

color: #000000;
}

.wrapper{
max-width: 1340px;
margin: 0 auto;
}

.input_data{
position:absolute;
width: 623px;
height: 421px;
left: 611px;
top: 285px;
display:flex;
flex-wrap: wrap;
margin-bottom: 9px;
}

.text_field{
width: 621px;
border: 1px solid #D4D4D4;
box-sizing: border-box;
}

.input{
margin-top:59px;
width: 406px;
height: 89px;
background: #F67DF9;
border-radius: 39px;
border:0;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 35px;
text-align: center;
letter-spacing: 0.02em;
color: #000000;
}