body{
  font-family: 'Forum';
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  font-weight: normal;
  color: #000000;
}

.main{
width: 1440px;
display: flex;
flex: wrap;
justify-content: center;
}
/* intro styles start*/

.intro{
position: absolute;
width: 1522.15px;
height: 430.05px;
left: 0;
top: 124.72px;
background: url("/img/background.png") no-repeat center;
background-size: cover;
margin-bottom:87.22px;
}

.form{
margin-top:330px;
margin-left:245px;
}

.search__form{
padding-left: 25px;
width: 365px;
height: 44px;
left: 245px;
box-sizing: border-box;
background: #FFFFFF;
border: 1px solid #F67DF9;
border-radius: 22px;
left: 270px;
top: 415px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 69px;
letter-spacing: 0.02em;
color: #D1D1D1;
}

.search__form:focus{
color: black;
}

.search_button{
margin-left:25px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 29px;
align-items: center;
padding: 12px 42px;
width: 180px;
height: 58px;
box-sizing: border-box;
background: #F67DF9;
border-radius: 66px;
border:0;
}
 /* intro styles end*/

.module{
position: absolute;
width: 1379px;
height: 319.05px;
left: 50px;
top: 626px;
}

.category{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

.category__list{
display: flex;
flex-wrap: nowrap;
}

.category__item{
margin-right: 21px;
}

.category__item:last-child{
margin-right:0;}

.category__link{
  font-family: 'Forum';
  font-size: 29px;
  line-height: 1.2;
  color: black;
}

.news{
background: url("/img/Rectangle21.svg") rgba(254, 253, 178, 0.25);
position: absolute;
width: 1440px;
height: 859px;
top: 985px;
display: flex;
flex-wrap: wrap;
align-items: start;
justify-content: center;
}

.news__title{
width: 515px;
height: 131px;
left: 461px;
top: 1023px;
display: flex;
flex-wrap: wrap;
align-items: start;
justify-content: center;
margin-top: 38px;
}

.news__body{
position: absolute;
width: 1267px;
height: 661px;
left: 78px;
margin-top:32px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

.book__title{
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 65px;
line-height: 66px;
margin-bottom: 24px;
}
.description__text{
width: 748px;
height: 456px;
left: 78px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}


.description__pic{
position: absolute;
height: 661px;
left: 881px;
}

.description__button{
position: absolute;
width: 292px;
height: 77px;
margin-top: 570px;
margin-left: 245px;
}

.month{
position: absolute;
width: 80px;
height: 33px;
left: 677px;
margin-top: 112px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 33px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
footer{
top:1870px;
}

