main{
display: flex;
flex-wrap: wrap;
}

.products{
position: absolute;
width: 1203px;
left: 102px;
margin-top: 576px;
display: flex;
flex-wrap: wrap;
align-items: flex-start;
}

.product{
margin-top:0px;
width: 1203px;
height: 246px;
border: 3px solid #FCFEB2;
display: flex;
flex-wrap: wrap;
align-content: space-between;
justify-content: space-between;
}

.product img{
width: 132px;
height: 207px;
margin-top: 17px;
margin-left: 45px;
}

.title, .author{
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 50px;
/* identical to box height */

text-align: center;

color: #000000;
margin-left: 276px;
}

.title{
position: absolute;
margin-top: 45px;
}

.author{
position:absolute;
margin-top: 88px;
}

.publisher{
position:absolute;
margin-top: 142px;
margin-left: 276px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;

text-align: center;

color: #000000;
}

.order{
position: absolute;
width: 981px;
height: 464px;
margin-top: 64px;
margin-left: 245px;
}

.order p{
position:absolute;
margin-top: 380px;
margin-left:0;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 66px;
text-align: center;
color: #000000;
}

.order button{
position: absolute;
width:507px;
height: 84px;
margin-top:380px;
margin-left: 474px;
background: #F67DF9;
border-radius: 104.057px;
border:none;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 47.2988px;
line-height: 84px;
/* identical to box height, or 97% */

text-align: center;
text-transform: uppercase;

color: #000000;
}

.price{
position:absolute;
margin-left: 728px;
margin-top: 87px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 66px;
text-align: center;
color: #000000;
}

.payment_shipping{
position: absolute;
width: 687px;
height: 332px;
margin-top:0;
margin-left:0;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 29px;
letter-spacing: 0.02em;
color: #000000;

}

.s_p1 p{
margin-left:0px;
margin-top:0;
margin-bottom:
width: 381px;
height: 29px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 29px;
letter-spacing: 0.02em;
color: #000000;
}

.s_p2 p{
margin-left:0px;
margin-top:30px;
width: 381px;
height: 29px;
font-family: 'Forum';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 29px;
letter-spacing: 0.02em;
color: #000000;
}

.payment_shipping label{
width: 687px;
height: 332px;

}

.payment_shipping input{
margin-left: 30px;
}

.p1{
margin-top:43px;
}

.p2{
margin-top: 76px;
}