<div th:fragment="footer">
    <div class="wrapper">
        <div class="footer__logo">
            <a href="/home" class="footer__logo-link">
                <img src="/img/Logo_footer.png" alt="OnlineBookstore" class="header__logo-pic"/>
            </a>
        </div>
        <ul class="footer__list">
            <li class="footer__link">
                <h2 class="footer__h2">PERSONAL FREEDOM</h2>
            </li>
            <li class="footer__link">
                <h2 class="footer__h2">СЛЕДИТЕ ЗА НАМИ</h2>
            </li>
        </ul>
        <ul class="footer__list__links">
                <a class="link__a" href="/store/catalog">КАТАЛОГ</a>
                <a class="link__a" href="/store/payment">ОПЛАТА</a>
                <a class="link__a" href="/store/shipping">ДОСТАВКА</a>
        </ul>
        <ul class="social__media">
            <img src="/img/tiktok.svg" alt="TikTok" class="media">
            <img src="/img/instagram.svg" alt="Instagram" class="media">
            <img src="/img/vk.svg" alt="ВКонтакте" class="media">
            <img src="/img/telegram.svg" alt="Telegram" class="media">
        </ul>
    </div>
</div>